body {
  background-color: #f8f8f8;
  position: relative;

}

.header {
  margin: 0 0 20px 0;
  padding-top: 30px;
  padding-bottom: 30px;
  // position: absolute;
  text-align: center;
  width: 100%;
  background-color: #f1d6ab;
}
